/* searchbar */
body {
    background-color: white;
    padding: 0%;
    margin: 0%;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #e4e4e4;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
/* searchbar */

.navbar {
    background-color: #297e21;
}

/* .container_{
    display: flex;
    flex: 1;
} */

.brand {
    margin-top: 47px;
    margin-left: 23px;
}

.brand img {
    border-radius: 25%;
    margin-right: 200px;
    border: 2px solid white;
}

.brand h2 {
    text-align: left;
    margin-bottom: 3%;
}

.brand h3 {
    text-align: left;

}

.carousel{
    height: 300px;
    width: 900px;
    margin-top: 5px;
    margin-left: 150px;
}

.carousel-inner .carousel-item img {
    height: 200px;
    width: 700px;

}

.section {
    margin: 0%;
    padding: 0%;
    background-color: transparent;
}

.section .container p{
    margin-top: -80px;
    background-color: transparent;
    margin-bottom: 50px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}


.navtabs ul {
    text-align: center;
    margin-left: 415px;
    margin-top: 10px;
    
}

.nav-tabs>.nav-item>.nav-link.active {
    background-color: #297e21;
}

.nav-tabs>.nav-item>.nav-link:hover {
    background-color: #297e21;
    color: white;
}

#about_me {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 80px;
    color: rgba(128, 128, 128, 0.425);

}

#friends_header {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 80px;
    color: rgba(128, 128, 128, 0.425);
}

#friends_cards {
    text-align: center;
    margin: 50px;
    margin-top: -30px;
}

.card {
    margin: 27px;
}

#photos_cards {
    text-align: center;
    margin: 50px;
    margin-top: -30px;
}

#photos_header {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 80px;
    color: rgba(128, 128, 128, 0.425);
}




.footer {
    background-color: #297e21;
}

.footer .container {
    color: white;
}

.footer .container .copyright a {
    color: white;
}